@import "../../../../styles.scss";

.tag-title {
  color: $font-color-medium;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
.text-purple {
  color: $font-color-purple;
}

.sidebar .nav-link {
  font-weight: 400;
  color: $font-color-dark;
  padding: 1rem 0px;
}

.tag-section .nav-link {
  padding: 0.1rem 0px;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link .active {
  color: $primary-color;
  font-weight: 600;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
}

.user-icon {
  height: 80px;
  width: 100%;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.active {
  color: $primary-color !important;
}
